block vars

doctype html
html(lang=lang class=page)
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block meta
		title= title
		link(rel='stylesheet', href='css/app.css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css' defer)
		script(src="//code.jquery.com/jquery-2.1.1.min.js" defer)
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" defer)
		script(src="js/app.js" defer)
		block styles
	body
		.container
			block content
			